PORT=
CLASH_API_TOKEN=

DB_DSN=
DB_MIN_CONNS=
DB_MAX_CONNS=
DB_MAX_IDLE_TIME=

JWT_SECRET=
JWT_ACCESS_TTL=
JWT_REFRESH_TTL=

R2_ACCESS_KEY=
R2_SECRET_ACCESS_KEY=
R2_BUCKET=
R2_PUBLIC_URL=
S3_API_ENDPOINT=

LIMITER_RPS=
LIMITER_BURST=
LIMITER_ENABLED=

TRUSTED_ORIGINS=
